html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title JavaScriptの学習
    link(href=require('../style/main.scss') rel='stylesheet')
  body
    h1 JavaScriptの学習
    p このhtmlファイルとmain.jsを使って学習を進めていきます
    script(src=require('../script/main.js'))